<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <!-- Link to custom CSS -->
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<form id="resetForm" th:action="@{/resetPassword}" method="post">
    <input type="hidden" name="token" th:value="${token}" />
    <div class="container">
        <div class="form-container">
            <h1>Asset M@nagement Sys</h1>
            <p>Reset Password</p>
            <hr/><br>

            <!-- Message label placeholder -->
            <div id="message" th:text="${message}" th:if="${message != null}"  class="text-danger" style="display:none; text-align:center; margin-bottom: 10px;"></div>

            <!-- Password field -->
            <div class="input-group">
                <input type="password" id="newPassword" name="newPassword" placeholder="Enter your new password" class="ResInp" required />
                <span id="errorNewPass"></span>
            </div>

            <!-- Confirm Password field -->
            <div class="input-group">
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" class="ResInp" required />
                <span id="errorConfirmPass"></span>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn">Reset</button>
        </div>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function (e) {
    const messageDiv = document.getElementById("message");

    // Agar server ne message diya hai, toh dikhao
    if (messageDiv.textContent.trim() !== "") {
        e.preventDefault();
        messageDiv.style.display = "block";
    }
});


</script>
</body>
</html>
